h1{
  color: blue;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  background-color: lightgray;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}